services:
  - type: web
    name: lerndrop-api
    env: node
    region: frankfurt
    plan: free
    buildCommand: cd server && npm install
    startCommand: cd server && node index.js
    envVars:
      - key: PORT
        value: 10000
      - key: NODE_ENV
        value: production
      - key: API_URL
        sync: false
      - key: FRONTEND_URL
        sync: false
      - key: MAX_FILE_SIZE_MB
        value: 50
